<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG_2joP_ZRwtwu2o2v0G-DyFGMHs49FxE</string>
	<key>GCM_SENDER_ID</key>
	<string>904463110293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hA.I.r</string>
	<key>PROJECT_ID</key>
	<string>h-a-ir-4iwwhv</string>
	<key>STORAGE_BUCKET</key>
	<string>h-a-ir-4iwwhv.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904463110293:ios:23d0eb578a92fd8eb78b9c</string>
</dict>
</plist>